In [26]:
import pandas as pd
df=pd.read_csv('data_kaggle.csv')
df.head()

       BANK  TAHUN   Q  NPF/NPL  FDR/LDR   BOPO    ROE
0  ALLOBANK   2017  Q1     2.42    95.97  93.68   2.52
1  ALLOBANK   2018  Q1     2.78    95.93  96.81   1.01
2  ALLOBANK   2019  Q1     2.29    92.94  85.49  13.17
3  ALLOBANK   2020  Q1     3.94    87.40  98.55   0.76
4  ALLOBANK   2021  Q1     1.51    50.71  85.00  13.11

In [72]:
# contoh mean dari nilai bopo untuk semua bank?

x=df.groupby('BANK')['BOPO'].mean()
y=df.groupby('BANK')['ROE'].mean()

print(x)

print("nama bank | total |")

BANK
ALLOBANK          89.762727
BANK DBS          90.262174
BTPN (JENIUS)     86.810000
Bank Jago        132.363889
Bank Neo Comm     93.059565
DIGITAL BCA      102.831000
Name: BOPO, dtype: float64

In [28]:
df['BOPO'].max()

317.54